*{
    margin : 0;
    padding : 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    background-color: #222;
    padding: 1rem;
}
p{
  text-indent: 1em;  
}

.teste{
    color:#fff;
    justify-content: center;
}

.teste ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.teste ul li{
    padding: .5rem;
}
.teste h1{
    text-decoration-line: none;
}

.acessDio{
    text-decoration: none;
    color : white;
}

.acessDio span{
    color: rgb(202, 29, 29);
    font-weight: bolder;
}

.Link img{
    border-radius: 10px;
    overflow: hidden;
}


h2 span {
    color:orangered;
}

.name{
    color:#fff;
    font-weight: 600;
}

.logo-curso{
    width: 100px;
    height: 100px;
}

.imModulo{
    padding: 3rem;
}